{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}

<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
	Modifier des Heures Supplementaire
</h4>


<style>
	.tabs {
		width: 100%;
		display: inline-block;
	}

	.tabs h4 {
		color: #CB997E;
		margin: 5px 0 15px;
		display: inline-block;
	}

	.tab-links:after {
		display: block;
		clear: both;
		content: '';
	}

	.tab-links {
		padding: 0;
		margin: 10px 0 0;
		position: relative;
		top: 2px;
	}

	.tab-links li {
		margin: 0 5px 0 0;
		float: left;
		padding-top: 2px;
		list-style: none;
	}

	.tab-links a {
		padding: 9px 8px 6px;
		display: inline-block;
		background: #CB997E;
		border: 2px solid #CB997E;
		border-bottom: 3px solid #CB997E;
		font-size: 10.5px;
		font-weight: 600;
		color: #fff;
		transition: all linear 0.15s;
	}

	.tab-links button {
		padding: 9px 8px 6px;
		display: inline-block;
		background: #CB997E;
		border: 2px solid #CB997E;
		border-bottom: 3px solid #CB997E;
		font-size: 10.5px;
		font-weight: 600;
		color: #fff;
		transition: all linear 0.15s;
	}

	.tab-links a:hover {
		background: #CB997E;
		text-decoration: none;
		border: 2px solid #CB997E;
		border-bottom: 3px solid #CB997E;
		color: #fff;
	}

	li.active a,
	li.active a:hover {
		background: #CB997E;
		height: 35px;
		border-bottom: none;
		color: #fff;
	}

	.tab-content,
	.uploaded-documents-container {
		padding: 15px;
		border-radius: 3px;
		border: 2px solid #CB997E;
		background: #fff;
		font-size: 0.95em;
	}

	.tab-content-scroll {
		max-height: 375px;
		min-height: 375px;
		max-width: 1100px;
		min-width: 450px;
		overflow: auto;
		clear: both;
	}

	.tab-content-scroll-home {
		min-height: 135px;
	}

	.button-bar-scroll {
		min-height: 235px;
	}

	.tab-content-scroll>p {
		margin-top: 0;
		padding-right: 12px;
	}

	.tab-content a {
		margin-top: 10px;
		color: #fff;
	}

	.tab {
		display: none;
	}

	.tab.active {
		display: block;
	}
</style>

<div class="tabs">
	<ul class="tab-links" hidden>
		<li class="active">
			<a href="#tab1">Tab #1</a>
		</li>

	</ul>

	<div class="tab-content">
		<form action="{{ path('gestionSupp_update', {'id': gestionSupp.id})}}" method="POST">

			{{form_start(formG)}}


			<div id="tab1" class="tab active">
				<div class="wrapper">


					<div class="box1">
						<label class="block text-sm">
							<span class="text-gray-700 dark:text-gray-400">Employé</span>
							{{form_row(formG.employe , { 'label' : false})}}
						</label>
					</div>



					<div class="box2">
						<label class="block text-sm">
							<span class="text-gray-700 dark:text-gray-400">Date</span>

							{{form_row(formG.date , { 'label' : false})}}


						</label>

					</div>

					<div class="box3">
						<label class="block text-sm">
							<span class="text-gray-700 dark:text-gray-400">Jour Ferié</span>
							{{form_row(formG.jourFerie , { 'label' : false})}}


						</label>
					</div>
					<div class="box4">
						<label class="block text-sm">
							<span class="text-gray-700 dark:text-gray-400">Nombre des Heures Supplementaire</span>
							{{form_row(formG.nbreHeurSupp , { 'label' : false})}}


						</label>
					</div>

					<div class="box5">
						<label class="block text-sm">
							<span class="text-gray-700 dark:text-gray-400">Montant</span>
							{{form_row(formG.montant , { 'label' : false})}}


						</label>
					</div>

				</div>

				<ul class="tab-links">
					<li>
						<a href="{{ path('gestionSupp_list')}}" type="submit">Cancel</a>
						<button href="{{ path('gestionSupp_list') }}" type="submit">Submit</button>

					</li>
				</ul>
			</div>


			{{form_end(formG)}}
		</form>
	</div>


</div>


{% endblock %}