{% block body %}


<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
    aria-label="Edit"
        data-target="modal-example2{{service.id}}">

    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20">
        <path
            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
        </path>
    </svg>
</button>



    <!-- Modal -->
    <div class="modal fade" id="modal-example2{{service.id}}" aria-labelledby="exampleModalLabel" data-ax="modal" style="margin-left: 350px;">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier un service </h5>
            </div>
                <form action="{{ path('service_update', {'id': service.id})}}" method="post">
                
                 {{form_start(formS)}}

                    <div class="modal-body">
                        <h6 style="font-weight: normal;">{{form_widget(formS)}}</h6>
                    </div>
                    <div class="modal-footer" >
                        <button data-target="modal-example2" class="ml-auto btn shadow-1 rounded-1 btn-small primary">Close</button>
                        <button type="submit"  class="btn btn-small success" >Submit</button>
                    </div>
                {{form_end(formS)}}
                </form>
        </div>
        </div>
    </div>



{% endblock %}